<section id="recipes">
    <div class="container">
        <div class="recipes__box">
            <div class="recipes__box_header">
                <h3>recipes</h3>
                <a class="recipes__add_btn" routerLink="/admin/recipes/create">Añadir</a>
            </div>

            <div class="recipes__box_content">
                <table>
                    <thead>
                        <tr class="table__head">
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Ingredientes</th>
                            <th>Preparación</th>
                            <th>Personas</th>
                            <th>Tag</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let recipe of recipes; let i = index">
                            <td>{{ recipe.name }}</td>
                            <td><div><p>{{ recipe.description }}</p></div></td>
                            <td><div><p>{{ recipe.ingredients }}</p></div></td>
                            <td><div><p>{{ recipe.preparation_time }}</p></div></td>
                            <td><div><p>{{ recipe.diners }}</p></div></td>
                            <td><div><p>{{ recipe.tag }}</p></div></td>
                            <td>
                                <button (click)="deleteRecipe(recipe.id!, i)" class="table__btn_delete">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                    </svg>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

